:root {
    --backgroundcolor: #090c2cee;
    --textcolor: #f5f5dc;
    --colorshadow: 0px 0px 20px orange;
    --boxshadow: 0px 0px 20px black;
}

body {
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: beige;
    text-decoration: none;
    text-decoration: underline;
}

header a:hover {
    text-shadow: var(--colorshadow);
    font-size: 120%;
    transition: all 0.5s;
}

p {
    line-height: 130%;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    box-shadow: var(--boxshadow);
}

#logo {
    width: 50px;
}

header nav {
    margin-left: auto;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin: 0px 30px;
    cursor: pointer;
}

/* Main */

/* Section1 - intro + art + photo*/

#section1 {
    margin:50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

#section1 article {
    flex: 40%;
    text-align: center;
}

#section1 figure {
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#benphoto {
    width: 50%;
    border: 5px solid black;
    box-shadow: var(--boxshadow);
}

#benart img {
    width: 30%;
    transition: all 0.5s;
    box-shadow: var(--boxshadow);
}


#benart img:hover {
box-shadow: var(--colorshadow);
transition: all 0.5s;
width: 40%;
}

#face {
    font-family: monospace;
    display: none;
}

#benart:hover #face {
    display: block;
}

h1 {
    font-size: 160%;
    margin: 10px 0px;
}

p {
    margin: 10px 0px;
}

/* section2 -my work */

#mywork {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    margin-left: 100px;
}

.workcard {
    width: 29%;
    text-align: center;
    border: 5px solid black;
    height: 300px;
    margin: 1%;
    box-shadow: var(--boxshadow);
}

#workcard2 {
    margin-left: 5%;
}

.workcard:hover {
    width: 30%;
    height: 310px;
    box-shadow: var(--colorshadow);
    transition: all 1s;
}

#maincard {
    width:100%;
    height: 350px;
    background-image: url("../images/cheat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#maincard:hover {
width: 110%;
height: 500px;
}

.workheader {
    width: 20%;
    background-color: rgb(20, 25, 66);
    min-height: 50px;
    border: 1px dashed rgb(32, 112, 107);
    position: relative;
    top: -20px;
    left: 10px;
    box-shadow: 0px 0px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Section 3 - about me & contact */

#aboutme {
    display: flex;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

#aboutme article, figure {
    width: 45%;
}

#aboutme article {
    margin-left: 50px;
}

#aboutme figure {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#benthought {
    width: 100%;
}

#contact {
    display: block;
    margin: auto;
    text-align: center;
}

#contact nav ul li {
    display: inline-block;
    margin: 5%;
}