/* variables */
:root {
  --backgroundcolor: rgba(9, 12, 44, 0.933);
  --textcolor: #f5f5dc;
  --colorshadow: 0px 0px 20px orange;
  --boxshadow: 0px 0px 20px black;
  --sectionborder: 1px solid beige;
  --boxborder: 5px solid black;
}
/* general */
body {
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  font-family: "Courier New", Courier, monospace;
}

a {
  color: var(--textcolor);
  text-decoration: none;
  text-decoration: underline;
  transition: all 0.5s;
}

p {
  line-height: 130%;
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  box-shadow: var(--boxshadow);
  border-bottom: var(--sectionborder)
}

li a:hover {
  text-shadow: var(--colorshadow);
  font-size: 120%;
}

#logo {
  width: 50px;
}

header nav {
  margin-left: auto;
  margin-right: 10%;
  display: flex;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  margin: 0px 30px;
  cursor: pointer;
}

/* Main */

/* Section1 - intro + photo */

#section1 {
  margin: 50px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#section1 article {
  flex: 40%;
  text-align: left;
  color: var(--textcolor);
  font-size: 140%;
  animation-duration: 3.5s;
  animation-name: bgcolor;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#section1 article p {
  margin: 20px;
}

/* animation for article background */

@keyframes bgcolor {
  from {
    color: var(--textcolor);
  }
  to {
    background-color: rgb(189, 251, 255);
    color: var(--backgroundcolor);
    box-shadow: var(--boxshadow);
    border-radius: 20px;
  }
}

/* end of animation */

/* photo styles */

#section1 figure {
  flex: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#benphoto {
  width: 50%;
  border: var(--boxborder);
  box-shadow: var(--boxshadow);
  border-radius: 20px;
}

h1 {
  font-size: 145%;
  margin: 20px;
}

/* section2 - my work */

#section2 {
  border-top: var(--sectionborder)
}

#section2 h2 {
  margin-left: 50px;
  margin-top: 10px;
}

#mywork {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
}

/* Work cards styles - examples and links to deployed websites */

.workcard {
  width: 29%;
  text-align: center;
  border: var(--boxborder);
  height: 300px;
  margin: 1%;
  margin-left: 0%;
  box-shadow: var(--boxshadow), inset 0px 0px 200px black;
  border-radius: 10px;
  transition: all 1s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.workcard:hover {
  width: 30%;
  height: 310px;
  box-shadow: var(--colorshadow);
}

#maincard {
  width: 70%;
  height: 320px;
  background-image: url("../images/quizScreenShotEdit.png");

}

#workcard2 {
  background-image: url("../images/rps.png");
}

#workcard3 {
  background-image: url("../images/screencapture-127-0-0-1-5500-index-html-2022-01-17-15_40_46.png");
}

#workcard4 {
  background-image: url("../images/password-generator-screenshot.png");
}

#maincard:hover {
  height: 390px;
  width: 72%;
}

.workheader {
  width: 30%;
  background-color: rgb(20, 25, 66);
  min-height: 50px;
  border: 1px dashed rgb(32, 112, 107);
  position: relative;
  top: -20px;
  left: 10px;
  box-shadow: var(--boxshadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/* Section 3 - about me & contact */

#section3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: var(--sectionborder);
  border-bottom: var(--sectionborder);
}

#section3 article,
figure {
  flex: 40%;
}

#section3 article {
  margin: 50px;
}

#section3 article p {
  margin: 20px;
  box-shadow: var(--boxshadow);
  border-radius: 20px;
  padding: 20px;
}

#section3 figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

#benthought {
  width: 100%;
}

#contact {
  display: block;
  margin: auto;
  text-align: center;
}

#contact nav ul li {
  display: inline-block;
  margin: 5%;
}

/* Footer */

footer {
  box-shadow: var(--boxshadow);
  border-top: var(--sectionborder);
}

#benart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#benart img {
  width: 80px;
  transition: all 0.5s;
  box-shadow: var(--boxshadow);
}

#benart img:hover {
  box-shadow: var(--colorshadow);
  width: 90px;
  transform: rotate(360deg);
}

#face {
  font-family: monospace;
  display: none;
}

#benart:hover #face {
  display: block;
}

/* media queries */

@media screen and (max-width: 890px) {
  * {
    transition: all 0.5s;
  }

  #section1 {
    flex-direction: column;
  }

  #section1 article,  #section1 figure {
    width: 50%;
    font-size: 120%;
  }

  #benphoto {
    width: 100%;
  }

  .workcard {
    width: 80%;
  }

  #maincard {
    width: 90%;
  }

  #maincard:hover {
    width: 95%;
  }

  .workcard:hover {
    width: 90%;
    height: 350px;
  }

  #mywork {
    flex-direction: column;
    align-items: center;
  }

  #workcard2 {
    margin-left: 0%;
  }

  #section3 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #benthought {
    width: 70%;
  }
}

/* media queries */

@media screen and (max-width: 710px) {
  * {
    transition: all 0.5s;
  }

  #section1 {
    flex-direction: column;
  }

  #section1 article,  #section1 figure {
    width: 70%;
    font-size: 110%;
  }

  #benphoto {
    width: 100%;
  }

  #benthought {
    width: 80%;
  }

}

/* media queries */

@media screen and (max-width: 540px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header nav {
    margin-left: 0px;
    margin-right: 0px;
  }

  #benthought {
    width: 85%;
  }

}

@media screen and (max-width:430px) {
  header nav ul li {
    display: list-item;
    text-align: center;
    margin: 5px;
  }

#section1, #mywork, #section3 article {
  margin: 10px;
}

#section2 h2 {
  margin-bottom: 25px;
}

#section1 article, #section1 figure  {
  width: 85%;
}

#benthought {
  width: 100%;
}

}
